body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    width: 90%;
    max-width: 500px;
    background: rgb(255, 255, 255);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    color: #333;
}
.input-box {
    display: flex;
    gap: 10px;
}
#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #d0d5db;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}
#addBtn {
    padding: 12px 18px;
    border: none;
    background: #333333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}
#taskList {
list-style: none;
margin-top: 25px;
padding: 0;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 12px;
    background: #f8fafc;
    border-radius: 6px;
    margin-bottom: 8px;
}
.task span {
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    color: #333;
}
.deleteBtn {
    background: none;
    color: red;
    border: none;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.completed {
    text-decoration: line-through;
    color: #4a4747;
    opacity: 0.5;
}
#taskInput:focus {
    outline: none;
    border-color: rgb(43, 107, 226);
}
#addBtn:hover {
    background: #596ea9;
}
.editBtn {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    background: #e9eef5;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.editBtn:hover {
    background-color: #d5dfeb;
}
.deleteBtn:hover {
    color: #b33a3a;
}
#taskCount {
    text-align: right;
    color: #666;
    font-size: 14px;
    margin-top: 15px;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 26px;
    }
}