body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    
}
.input-box {
    display: flex;
    gap: 10px;
}